<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Healthcare Chatbot</title>
</head>
<body class="bg-green-50 overflow-x-hidden font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation
    Mono", "Courier New" , monospace;>  

    <h1>Healthcare Chatbot</h1>
    <div id="conversation" class="">
        {% for message in conversation %}
            {% if 'You:' in message %}
            <div class="ml-96 mr-20 mb-10">
                <p class="user-message bg-green-600 text-white p-5 rounded-xl shadow-xl">{{ message }}</p>
            </div>
            {% elif 'Lyra:' in message %}
            <div class="mr-96 ml-20 mb-10">
                <p class="lyra-message bg-green-100 p-5 rounded-xl shadow-xl">{{ message }}</p>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    
    {% if show_form %}
    <div class="">
    <form method="post" action="/ask" class = "flex justify-items-end justify-center h-full">
        <label for="user_message"></label>
        <input type="text" id="user_message" name="user_message" placeholder="Ask me anything about health...." required class="border-2 border-green-700 bg-white w-6/12 rounded-xl p-3">
        <button type="submit" class="py-2 px-6 ml-2 text-white bg-green-400 hover:bg-green-800 rounded-full">Ask!</button>
    </form>
    </div>

    {% else %}
    <p>You can only have {{ message_limit }} messages in a conversation. Would you like to start a new conversation?</p>
    <form method="post" action="/new_conversation">
        <input type="submit" value="Yes">
    </form>
    {% endif %}

</body>
</html>
